/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Custom CSS*/
:root{
    --v-darkblue:hsl(233, 47%, 7%);
    --d-dblue:hsl(244, 38%, 16%);
    --s-violet:hsl(277, 64%, 61%);
    --white:hsl(0, 0%, 100%);
    --twhite:hsla(0, 0%, 100%, 0.75);
    --twhite-stat:hsla(0, 0%, 100%, 0.6);
}
html{
    font-family: 'Fraunces', serif;
    font-family: 'Orbitron', sans-serif;
}
body{
    font-size:15px;
    height:100vh;
    background-color: var(--v-darkblue);
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding-left:3rem;
    padding-right:3rem;
    padding-top:10rem;
    padding-bottom:10rem;
    
}
.container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:auto;
    background-color: var(--d-dblue);
    border-radius: 1rem;
 
}
.container>.card-1{
order:2;
padding:1.5rem;
}
.container>.card-2{
    order:1;
    width:100%;
    background-color: var(--s-violet);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    opacity: 1;
    z-index:1;

}
.card-2>#image-overlay>img{
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-2>#image-overlay{
  background-color: var(--s-violett);
  opacity: .3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-1>h1{
    font-size:22px;
    text-align: center;
    color:var(--white);
}
.card-1>h1>span{
    color:var(--s-violet);
}
.card-1>p{
    text-align: center;
    color:var(--twhite);
    font-size:14px;
}
.card-1-end{
    text-align: center;
    color:var(--white);
}
.card-1>p,.card-1-end{
  margin-top:1rem;
}
.card-1-end>p{
  padding:0.6rem;
  font-size:14px;
}
.card-1-end>p>span{
  color: var(--twhite);
  font-size:12px;
}
@media screen and (min-width:629px) {
  body{
    
  }
  .container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    width:50rem;
  }
  .container>.card-1{
    order:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container>.card-2{
    order:2;
    border-top-left-radius: none;
    border-bottom-right-radius: 1rem;
  }
  .container>.card-2>#image-overlay{
    height:100%;
    background-size: contain;
    background-position: center;
    border-top-left-radius: none;
  }
  .container>.card-2>#image-overlay>img{
    height:100%;
    width:100%;
    border-top-left-radius: none;
    border-bottom-right-radius: 1rem;
  }

  .card-1-end>p{
    display:inline-block;
  }
    
}